* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  background-color: rgb(53, 58, 64);
  position: fixed;
  width: 100vw;
}

footer {
  color: white;
  background-color: rgb(30, 79, 109);
}

#green {
  color: rgb(41, 167, 68);
}

#btnGreen {
  background-color: rgb(41, 167, 68);
  color: white;
}

#btnYellow {
  background-color: rgb(255, 193, 8);
  color: black;
}

#btnSkyBlue {
  background-color: rgb(19, 164, 185);
  color: white;
}

#btnGrey {
  background-color: rgb(108, 118, 127);
  color: white;
}

#btnRed {
  background-color: rgb(219, 52, 69);
  color: white;
}

#btnLightGreen {
  background-color: rgb(150, 201, 62);
}

.fondoBsAsOctubre {
  background-color: rgb(53, 58, 64);
  color: white;
}

.logo {
  width: 100px;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

.textNav {
  text-align: center;
  font-size: x-large;
}

.flexCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-white {
  color: #fff;
}

.containerNav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(53, 58, 64);
  padding: 1.2rem 5rem;
  height: 12%;
}

.logoContainer {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoContainer img {
  width: 100px;
  object-fit: cover;
}

.logoContainer h2 {
  color: white;
}

.navRow ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  height: 100%;
}

.navItem {
  padding-left: 20px;
}

.linkNav {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.linkWhite {
  color: white;
}

.linkGrey {
  color: rgb(150, 150, 150);
}

.linkGreen {
  color: rgb(38, 167, 67);
}
